.wrapper {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  margin-top: 0px;
}

.menu_left {
  display: flex;
}

.icon_img {
  margin: 5px;
  color: white;
  transition: color 0.3s ease;
  cursor: pointer;

  &:hover {
    color: rgb(68, 171, 184);
  }

  &.icon_active {
    color: aqua;
  }
}
